:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 91 238 189;
  --oui-color-primary-light: 150 255 230;
  --oui-color-primary-darken: 45 180 140;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 91 238 189;
  --oui-color-link-light: 150 255 230;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 255 200;
  --oui-color-warning-light: 255 255 220;
  --oui-color-warning-darken: 255 230 100;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 18 12 24;
  --oui-color-fill-active: 30 20 40;

  --oui-color-base-1: 36 28 48;
  --oui-color-base-2: 32 24 42;
  --oui-color-base-3: 28 20 36;
  --oui-color-base-4: 24 16 30;
  --oui-color-base-5: 20 14 26;
  --oui-color-base-6: 18 13 24;
  --oui-color-base-7: 24 18 32;
  --oui-color-base-8: 20 15 27;
  --oui-color-base-9: 16 12 22;
  --oui-color-base-10: 0 0 0;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 91 238 189;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 45 180 140;
  --oui-gradient-primary-end: 91 238 189;

  --oui-gradient-secondary-start: 0 0 0;
  --oui-gradient-secondary-end: 18 12 24;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 150 255 230;
  --oui-gradient-brand-end: 91 238 189;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 200 200 100;
  --oui-gradient-warning-end: 255 255 200;

  --oui-gradient-neutral-start: 0 0 0;
  --oui-gradient-neutral-end: 18 12 24;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}