:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 91 190 189;
  --oui-color-primary-light: 170 255 203;
  --oui-color-primary-darken: 60 140 130;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 91 190 189;
  --oui-color-link-light: 170 255 203;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 173 255 74;
  --oui-color-success-light: 200 255 120;
  --oui-color-success-darken: 130 200 40;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 255 200;
  --oui-color-warning-light: 255 255 220;
  --oui-color-warning-darken: 255 230 100;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 18 12 24;
  --oui-color-fill-active: 30 20 40;

  --oui-color-base-1: 48 40 60;
  --oui-color-base-2: 42 34 54;
  --oui-color-base-3: 36 28 48;
  --oui-color-base-4: 30 24 42;
  --oui-color-base-5: 26 20 36;
  --oui-color-base-6: 22 16 30;
  --oui-color-base-7: 34 26 46;
  --oui-color-base-8: 28 21 39;
  --oui-color-base-9: 22 16 30;
  --oui-color-base-10: 18 12 24;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 173 255 74;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 60 140 130;
  --oui-gradient-primary-end: 91 190 189;

  --oui-gradient-secondary-start: 0 0 0;
  --oui-gradient-secondary-end: 18 12 24;

  --oui-gradient-success-start: 100 200 40;
  --oui-gradient-success-end: 173 255 74;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 170 255 203;
  --oui-gradient-brand-end: 91 190 189;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 200 200 100;
  --oui-gradient-warning-end: 255 255 200;

  --oui-gradient-neutral-start: 0 0 0;
  --oui-gradient-neutral-end: 18 12 24;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}